@import 'src/styles/colors';

.directionArrows {
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 24px;
  height: 200px;
  width: 200px;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
  transform: rotateZ(45deg);

  &__arrow {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    background: linear-gradient(145deg, #ccdcdc, #f3ffff);
    box-shadow: 11px 11px 22px #8f9a9a, -11px -11px 22px #ffffff;
    &-active {
    }

    &:hover {
      background: linear-gradient(145deg, $color-normal, #ccdcdc);
      box-shadow: 11px 11px 22px #8f9a9a, -11px -11px 22px #ffffff;
    }
  }
}

.horizontalArrows {
  display: flex;
}
